<!DOCTYPE html>
<html>
  <head>
    <title>CodeWall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<!--   	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->




    <div class="container">
    	<%= render :partial => "shared/navbar" %>
    	<%= render :partial => "shared/jumbotron" if @jambotron %>
    	<%= yield %>
    	<%= render :partial => "shared/footer" %>
    </div>


    
    
  </body>
</html>
